docx2txt==0.9
llama-index-agent-openai==0.4.7
llama-index-core==0.12.36
llama-index-embeddings-openai==0.3.1
llama-index-llms-openai==0.3.38
llama-index-readers-file==0.4.7
llama-index-readers-google==0.6.1
llama-index-vector-stores-qdrant==0.6.0
qdrant-client==1.14.2

git+https://github.com/codified-io/codified-sdk.git
